################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/**/.vs
/**/bin/
bin
/**/obj/
obj
/src/.sonarqube
/src/LogCorner.EduSync.Notification.Server/Logs/log.txt
