################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/LogCorner.EduSync.Notification.Server/v16
/src/bin/Debug
/src/LogCorner.EduSync.SignalR.Common/bin/Debug/netstandard2.1
/src/LogCorner.EduSync.SignalR.Common/obj
/src/LogCorner.EduSync.SignalR.Common.IntegrationTests/bin/Debug
/src/LogCorner.EduSync.SignalR.Common.IntegrationTests/obj
/src/LogCorner.EduSync.SignalR.Common.UnitTests/bin/Debug
/src/LogCorner.EduSync.SignalR.Common.UnitTests/obj
/src/LogCorner.EduSync.SignalR.Server/bin/Debug
/src/LogCorner.EduSync.SignalR.Server/obj
/src/LogCorner.EduSync.SignalR.Server.IntegrationTests/bin/Debug
/src/LogCorner.EduSync.SignalR.Server.IntegrationTests/obj
/src/obj
/src/.vs/LogCorner.EduSync.Notification.Server/DesignTimeBuild/.dtbcache.v2
/src/LogCorner.EduSync.SignalR.Server/appsettings.Development.save.json
/src/LogCorner.EduSync.Notification.Server/.vs/LogCorner.EduSync.Notification.Server/v16
/src/LogCorner.EduSync.Notification.Server/LogCorner.EduSync.Notification.Server/bin/Debug/net5.0
/src/LogCorner.EduSync.Notification.Server/LogCorner.EduSync.Notification.Server/obj
/src/LogCorner.EduSync.Notification.Server/.vs/LogCorner.EduSync.Notification.Server/DesignTimeBuild/.dtbcache.v2
/src/LogCorner.EduSync.Notification.Server/bin/Debug/net5.0
/src/LogCorner.EduSync.Notification.Server/obj
/src_ex
/src/.vs/LogCorner.EduSync.Notification.Server/v17
/src/.vs/LogCorner.EduSync.Notification.Server/project-colors.json
/src/.vs/LogCorner.EduSync.Notification.Server
/src/LogCorner.EduSync.Notification.Server/.vs/LogCorner.EduSync.Notification.Server
/src/LogCorner.EduSync.Notification.Server/bin/Debug/net5.0
/src/LogCorner.EduSync.Notification.Server/obj
/src/LogCorner.EduSync.Notification.Common/bin/Debug/netstandard2.1
/src/LogCorner.EduSync.Notification.Common/obj
/src/LogCorner.EduSync.Notification.Common.IntegrationTests/bin/Debug
/src/LogCorner.EduSync.Notification.Common.IntegrationTests/obj
/src/LogCorner.EduSync.Notification.Common.UnitTests/bin/Debug
/src/LogCorner.EduSync.Notification.Common.UnitTests/obj
/src/LogCorner.EduSync.Notification.IntegrationTests/bin/Debug
/src/LogCorner.EduSync.Notification.IntegrationTests/obj
/src/LogCorner.EduSync.Notification.Common/bin/Debug
/deploy/iac/terraform/.vs
/src/LogCorner.EduSync.Notification.Server/bin/Debug/net6.0
